.root {
  min-width: 150px;
  display: inline-block;
  height: 36px;
  border: 1px solid #ababab;
  border-radius: 5px;
  padding: 8px;
  margin-right: 6px;
}

.root:focus {
  border-color: #545454;
}
