.listItem {
  width: 100%;
  height: 60px;
  padding: 5px;
  display: flex;
}

.listItemTodoWrapper {
  font-size: 16px;
  flex: 10;
}

.listItemMeta {
  width: 100%;
  height: 30px;
  font-size: 13px;
  color: darkgray;
}

.listItemMeta span {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  height: 24px;
}

.listItemActions {
  flex: 5;
}

.list {
  padding: 0px 20px;
}

.list > div {
  min-height: 250px;
}
